# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
.eggs/
*.egg

# Jupyter Notebook
.ipynb_checkpoints/

# Ambiente virtual
venv/
env/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Sistema
.DS_Store
Thumbs.db

# Pip
pip-log.txt
pip-delete-this-directory.txt
